<h1><%= @post.title %></h1>
  <p><%= @post.text.html_safe %></p>
  <p>posted by Rachael Miller at <%= @post.created_at %></p>

<h2>comments</h2>
<% @comments.each do |comment| %>
  <p><%= comment.text %></p>
  <p>posted by <%= comment.author %> at <%= comment.created_at %></p>
<% end %>
