<h1><%= @post.title %></h1>
  <p><%= @post.text.html_safe %></p>
  <p>posted by Rachael Miller at <%= @post.created_at %></p>

<h2>comments</h2>
<div class="comment-container">
<% @comments.each do |comment| %>
  <p><%= comment.text %></p>
  <p>posted by <%= comment.author %> at <%= comment.created_at %></p>
<% end %>
</div>

<h3>add a comment</h3>
<form class="comment-form" action="/comments" method="post">
  <input type="hidden" class="post-id" name="comment[post_id]" value="<%=@post.id%>">
  <input type="text" class="comment-author" name="comment[author]" placeholder="name">
  <input type="text" class="comment-text" name="comment[text]" placeholder="type your comment here">
  <input type="submit">
</form>
